<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
 <h4>会員の方はこちらからログインできます。</h6>
 <table class="table table-borderless">
   <tbody>
     <tr>
       <td>email</td>
       <td>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
       </td>
     </tr>
     <tr>
       <td>パスワード</td>
       <td>
         <%= f.password_field :password, autocomplete: "current-password" %>
       </td>
     </tr>
   </tbody>
 </table>

    <%= f.submit "ログイン" %>
<% end %>
会員登録がお済みでない方は<%= link_to "こちら", new_user_registration_path %>から新規登録。