<div class="row border-bottom">
  <div class="col mt-3"><h2>お酒検索</h2></div>
  <div class="col"></div>
</div>
<div class="row mt-3 ml-3">
  <%= form_with url: drinks_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit :search %>
<% end %>
</div>
<div class="row">
  <p class="ptext ml-4">お酒の名前をを入力してください<br>
  <%= link_to "無いようであれば追加してください", new_drinks_path %></p>
</div>
<div class="row mt-2 ml-3 border-bottom border-dark">
  <h4>検索結果</h4>
</div>

<div class="row mt-2">
   <% @search_drinks.each do |drink| %>
  <div class="text-center ml-3 mb-3 border d-box">
  <%= link_to drink.name, drink_path(drink.id), class:"text-dark border-bottom d-font" %><br>
    アルコール度数:<%= drink.alcohol %><br>
    ジャンル:<%= drink.genre.name %><br>
    販売元:<%= drink.creator.name %>
  </div>
   <% end %>
</div>