<h2>販売元を編集する</h2>
<%= form_with model: @creator, method: :patch, url: update_creators_path, local:true do |f| %>
<table class="">
  <tbody>
    <tr>
      <td>販売元名</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>URL</td>
      <td><%= f.text_field :url %></td>
    </tr>
    <tr>
      <td>エリア</td>
      <td><%= f.collection_select :area_id, Area.all, :id, :name %></td>
    </tr>
    <tr>
      <td>簡易説明</td>
      <td><%= f.text_area :introduction %></td>
    </tr>
  </tbody>
</table>
<%= f.submit :"編集する" %>
<% end %>