<div class="row">
 <h4><div class="ml-3 mt-2">ユーザー一覧</div></h4>
</div>
<div class="row">
 <table class="table">
   <thead>
     <tr class="table-color">
       <th>ユーザーID</th>
       <th>ニックネーム</th>
       <th>メールアドレス</th>
       <th>ステータス</th>
     </tr>
   </thead>

   <tbody>
     <% @users.each do |user| %>
     <tr>
       <td><%= user.id %></td>
       <td><%= link_to admin_user_path(user) do %>
        <div class="text-dark">
           <ins>
            <%= user.name %>
           </ins>
        </div>
           <% end %>
       </td>
       <td><%= user.email %></td>
       <td><% if user.is_active == true %>
         アカウント停止中
         <% else %>
         <div class="text-success">有効</div>
         <% end %></td>
     </tr>
     <% end %>
   </tbody>
 </table>
</div>
<div class="row">
 <%= paginate @users %>
</div>