 <div class="row ml-3 mt-2">
   <h2><%= @user.name %>さんのページ</h2>
 </div>
<div class="row ml-3 mt-2">
  <div class="col">
     <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "70x70" %><br>

     email<div class="mr-3"><%= @user.email %></div>
     ユーザーネーム<div class="mr-3"><%= @user.name %></div>
     会員ステータス<div class="mr-3">
       <% if @user.is_active == true %>
        アカウント停止中
        <% else %>
        <strong class="text-success">有効</strong>
        <% end %>
     </div>
  </div>
  <div class="col">
    <%= link_to "情報を編集する", edit_admin_user_path %>
  </div>
  <div class="col introduction-box border border-dark">
    <%= @user.introduction %>
  </div>
</div>



<% @reviews.each do |review| %>
    <div class="reviews border border-dark py-1 px-1">
     <div class="d-flex justify-content-between">
       <%= review.drink.name %>
       評価★<%= review.rating %>
       <%= link_to review.title, admin_review_path(review.id) %>
       <%= review.user.name %>
     </div>
     <div class="d-flex justify-content-start">
      <div class="ml-2"><%= attachment_image_tag review, :image, :fill, 200, 160, fallback: "no_image.jpg" %></div>
      <div class="impression ml-2 border"><%= review.impression %></div>
     </div>
    </div>
     <%= link_to "このレビューを削除する", admin_reviews_destroy_path(review.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %>
   <% end %>