<div class="d-flex justify-content-start mt-3 box-x">
 <div class="box-review">
  <div class="d-flex justify-content-center">
    <h3><%= link_to @review.drink.name, drink_path(@review.drink.id) %>のレビュー</h3>
    <div class="ml-5">
      <% if @review.favorited_by?(current_user) %>
       <%= link_to "お気に入り解除", review_favorites_destroy_path(@review.id), method: :delete, class:"btn btn-denger" %>
      <% else %>
       <%= form_with model: @favorite, url: review_favorites_create_path(@review.id), local:true do |f| %>
        <%= f.hidden_field :review_id, :value => @review.id %>
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :drink_id, :value => @review.drink.id %>
        <%= f.submit "お気に入りに追加する", class:"btn btn-primary" %>
       <% end %>
      <% end %>
    </div>
  </div>

  <dic class="row">

    <div class="col-6">
     <div class="d-flex flex flex-row ml-3">
      <h3><%= @review.title %></h3>
     </div>
     <div class="mt-2 d-flex justify-content-center border border-dark">
      <%= attachment_image_tag @review, :image, :fill, 300, 220, fallback: "no_image.jpg" %>
     </div>
     <div class="d-flex justify-content-center mt-3">
      <h2>★<%= @review.rating %></h2>
     </div>
     投稿ユーザー
     <div class="user-box border border-dark mt-3 d-flex justify-content-start">
      <div class="user-icon px-2 py-2">
        <%= attachment_image_tag @review.user, :image, :fill, 150, 100, fallback: "no_image.jpeg", class:"border rounded" %>
      </div>
      <div class="user-name d-flex align-items-center">
        <h5><%= link_to @review.user.name, user_path(@review.user.id) %></h5>
      </div>
     </div>
   </div>

   <div class="col-6">
     <div class="impression-box border border-dark">
       <%= @review.impression %>
     </div>
   </div>

  </dic>
 </div>

 <div class="box-comment border">
   <!--コメントフォーム-->
   <%= form_with model: @review_comment, url: review_comments_create_path, local:true do |f| %>
    <%= f.hidden_field :review_id, :value => @review.id %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.text_area :comment %>
    <%= f.submit "レビューに対してコメントする" %>
   <% end %>
   <div>
    <% @review_comments.each do |review_comment| %>
    <div class="border my-2">
     <div>
      <%= review_comment.comment %>
      <% if review_comment.user == current_user %>
       <%= link_to "コメント削除", review_comments_path(review_comment.id), method: :delete %>
      <% end %>
     </div>
     <div>
     <%= review_comment.created_at.to_s(:datetime_jp) %>
     <%= review_comment.user.name %>
     </div>
    </div>
    <% end %>
   </div>
 </div>
</div>