    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/">we_are_sommeliers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'お酒を探す', drinks_path, class: 'text-dark' %><br>
              <%= link_to '販売元を探す', creators_path, class: 'text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'お酒を登録する', new_drinks_path, class: 'text-dark' %><br>
              <%= link_to '販売元を登録する', new_creators_path, class: 'text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', my_page_path(current_user.id), class: 'text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'text-danger border border-dark rounded ml-1' %>
            </li>
            <% elsif admin_signed_in? %>
            <h3 class="mr-3 mt-2">管理者</h3>
             <li class="nav-item mr-2">
               <%= link_to "ジャンル追加・一覧", admin_genres_path, class:"text-dark border border-dark rounded" %><br>
               <%= link_to "エリア追加・一覧", admin_areas_path, class:"text-dark border border-dark rounded" %>
             </li>
             <li class="nav-item mr-2">
              <%= link_to "会員一覧", admin_users_path, class:"text-dark border border-dark rounded" %>
            </li>
            <li class="nav-item mr-2">

            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"text-danger border border-dark rounded" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'text-dark border border-dark rounded mr-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'text-dark border border-dark rounded mr-3' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', guests_guest_sign_in_path, method: :post, class:"text-dark border border-dark rounded mr-3" %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>