<h2>新規会員登録</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>ニックネーム</td>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>email</td>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </td>
      </tr>
      <tr>
        <td>パスワード（６文字以上）</td>
        <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tr>
      <tr>
        <td>パスワード（確認用）</td>
        <td>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "新規登録する" %>
<% end %>

既に登録済みの方は<%= link_to "こちら", new_user_session_path %>からログインしてください。